._0mzbd0_-menu {
	width: 120px;
	box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
	display: none;
	background-color: rgba(200, 200, 200, 0.9);
	position: absolute;
	z-index:9999;
}

._0mzbd0_-menu-options_ {
	list-style: none;
	padding: 10px 0;
}

._0mzbd0_-menu-option_ {
	font-weight: 500;
	font-size: 14px;
	padding: 10px 40px 10px 20px;
	cursor: pointer;
}

._0mzbd0_-menu-option_:hover { background: rgba(255, 255, 255, 1); }
