/* 대상 객체 외곽선  */
[_0mzbd0-focus_] {
	background-color: rgb(140, 200, 255);
}
/* LOOP 구간 */
[_0mzbd0-item_] {
	background-color: #FF0000;
	border-color: #FF0000;
}

[_0mzbd0-container_] {
	background-color: #00FF00;
	border-color: #00FF00;
}
