.wrap {width:100%;height:100%;overflow:hidden;}

.msg_sent {width:99%;height:100%;}
.ep_cols_layer {width:99%;height:450px;overflow:auto;border-style:solid;border-width:1px 1px 1px 1px;}
.ep_cols {width:99%;height:100%;}
.ep_cols td {text-align:center;}
.button_table {width:99%;height:100%;margin-top:20px;}

.tal {text-align:left;}
.tac {text-align:center;}
.tar {text-align:right;}
