
.w-pc10 	{ width:10%; }
.w-pc20 	{ width:20%; }
.w-pc30 	{ width:30%; }
.w-pc100 	{ width: 100%; }
.w-px300 	{ width: 300px; }

.al-top 	{ vertical-align: top; }
.al-center	{ text-align: center; }

.title 		{ width: 300px; }
.scroll		{ overflow:auto;vertical-align: top; }
.scroll.div	{ display:inline; border:0px; }


.ly-group						{ min-width:532px; padding:5px; background-color:#EAEAEA; box-shadow: inset 1px 1px 4px 4px black; margin: inherit; }
.ly-group select				{ height: 24px; width: 100%; background-color:#000; color:#FFFFFF; }
.ly-group #groupReset			{ background-color:#256625; border-color:#8ebf8e #0c0e0c #0c0e0c #8ebf8e; color:#FFFFFF; }
.ly-group #groupSave, #groupDel	{ background-color:#9b3d3d; border-color:#e2a4a4 #664141 #664141 #e2a4a4; color:#FFFFFF; font-weight:bold; }
.ly-group #svrSend  , #svrRead	{ background-color:#000093; border-color:#4d4dee #0d0d1e #0d0d1e #4d4dee; color:#BABABA; font-weight:bold; font-style: italic; }
.ly-group #groupBuild			{ background-color:#505050; border-color:#606060 #606060 #606060 #606060; color:#BABABA; font-weight:bold; font-style: italic; }



.ly-info						{ min-width:536px; height:60px; background: #3E3EAA; border: 1px solid #08088A; color:#FFFFFF; margin: inherit;}
.ly-info input#url				{ height: 15px; width: 65%; }
.ly-info div.list				{ height: 30px; width: 99%; margin:3px; background-color:#AEAEFF; color:#000; }
.ly-info div.list div			{ text-align:left; text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; width:100%; overflow:hidden; }
.ly-info div.list div[data-id=list_sites] div:hover	{ background-color : #C0C0C0; }
.ly-info div.list div[data-id=list_sites] div.sel	{ background-color:#A0A0A0; color:#FFFFFF; }
.ly-info div.list div[data-id=list_sites] div.warn	{ background-color : #FFD0D0; }


/* TAB 영역 시작 */
.attInfo .tr 					{ height:32px; }
.attInfo .tr input  			{ border:0px; }
.attInfo .tr input[type=text]  	{ width:100%; }

.ly-action  		{ text-align:right; width:100%; }
.ly-action select 	{ height: 24px; width: 69%; }

.ly-view			{ text-align:right; width:100%; }
.ly-view select 	{ height: 24px; width: 68%; }


[data-id=list_items] div.sel pre	  	{ font-size: medium; cursor:pointer; }
[data-id=list_items] div.sel.must pre	{ color:#FF3030; }
[data-id=list_items] div.sel pre.select	{ background-color : #A0A0A0; }
[data-id=list_items] div.sel pre:hover	{ background-color : #C0C0C0; }
#tab1 .scroll.list	{ height:300px; }

[data-id=list_actions] div.sel 			pre	  		{ font-size: medium; cursor:pointer; }
[data-id=list_actions] div.sel 			pre.select	{ background-color : #A0A0A0; }
[data-id=list_actions] div.sel 			pre:hover	{ background-color : #C0C0C0; }
[data-id=list_actions] div.sel.click 	pre			{ background-color : #F0F0F0; }
[data-id=list_actions] div.sel.click 	pre:hover	{ background-color : #E0E0E0; color : #909090; }
#tab2 .scroll.list	{ height:300px; }

[data-id=list_views] div.sel pre	  	{ font-size: medium; cursor:pointer; }
[data-id=list_views] div.sel pre.select	{ background-color : #A0A0A0; }
[data-id=list_views] div.sel pre:hover	{ background-color : #C0C0C0; }
#tab3 .scroll.list	{ height:300px; }


