.table {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.table .caption {
  display: table-caption;
  caption-side: top;
}
.table .thead{
  display: table-header-group;
}
.table .tbody{
  display: table-row-group;
}
.table .sep{
  display: table-row-group;
  height:1px;
  background-color:#9A0808;
}
.table .tr {
  display: table-row;
}
.table .thead .tr .th {
  display: table-cell;
  background: #AA3E3E;
  border: 1px solid #8A0808;
  color: #fff;
  vertical-align: middle;
}
.table .tbody .tr .td {
  display: table-cell;
  border: 1px solid #8A0808;
  vertical-align: middle;
  text-align:left;
  padding-right:1px;
}
