<div class="ly-action">
	<select id="action">
		<option>DEFAULT</option>
	</select>
	<input type="button" value="초기화" id="actionReset"/>
	<input type="button" value="저장" id="actionSave"/>
	<input type="button" value="삭제" id="actionDel"/>
	<input type="button" value="재생" id="actionPlay" style="display:none;"/>
</div>
<!-- table -->
<div class="table">
	<div class="caption">Action 관리(클릭 동작 Set를 구성 / 관리 하는 화면.)</div>
	<div class="tbody">
		<div class="tr">
			<div class="td">

				<!-- left menu -->
				<div class="table attInfo">
					<div class="caption">Action 편집</div>
					<div class="thead">
						<div class="tr">
							<div class="th w-pc20">속성</div>
							<div class="th">값</div>
						</div>
					</div>
					<div class="tr">
						<div class="td">UUID</div>
						<div class="td">
							<input type="text" data-id="uuid" readonly="readonly"/>
						</div>
					</div>
					<div class="tr">
						<div class="td">액션타입</div>
						<div class="td">
							<label><input type="radio" name="tab2-action" value="click" />Click</label>
							<label><input type="radio" name="tab2-action" value="startLoop" />루프 시작</label>
							<label><input type="radio" name="tab2-action" value="endLoop" />루프 종료</label>
							<label><input type="radio" name="tab2-action" value="read" />값 추출</label>
						</div>
					</div>
					<div class="tr" data-id="row-actionConditionType">
						<div class="td">반복기준</div>
						<div class="td">
							<label><input type="radio" name="tab2-actionConditionType" value="element" />항목</label>
							<label><input type="radio" name="tab2-actionConditionType" value="count" />횟수</label>
						</div>
					</div>
					<div class="tr" data-id="row-actionConditionValue">
						<div class="td" data-id="lb-actionConditionValue">반복값</div>
						<div class="td">
							<!-- <input type="text" data-id="actionConditionValue" /> -->
							<select data-id="actionConditionValue">
<!-- 								<option>DEFAULT</option> -->
							</select>
						</div>
					</div>
				</div>
				<!-- left menu -->

			</div>
		</div>
		<div class="tr">
			<div class="td">

				<!-- list menu -->
				<div class="table">
					<div class="caption">항목</div>
					<div class="thead">
						<div class="tr">
							<div class="th w-pc30">목록</div>
						</div>
					</div>
					<div class="tr">
						<div class="td al-center">
							<div class="scroll list">
								<div data-id="list_actions">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- left menu -->

			</div>
		</div>
		<div class="tr">
			<div class="td al-center">
			
				<div class="scroll">
					<div data-id="actionPrevResult">
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</div>
<!-- table -->