
<!-- table -->
<div class="table">
	<div class="caption">Caption Text</div>
	<div class="thead">
		<div class="tr">
			<div class="th px300">항목 추가</div>
			<div class="th">조회 목</div>
		</div>
	</div>
	<div class="tbody">
		<div class="tr">
			<div class="td" id="left_menu">
				<!-- left menu -->
				<div class="table pc100">
					<div class="thead">
						<div class="tr">
							<div class="th pc30">이름</div>
							<div class="th">값</div>
						</div>
					</div>
					<div class="tr">
						<div class="td">구분</div>
						<div class="td">
							<input type="radio" name="tmpl_type" id="tmpl_type_C" value="C" /> <label for="tmpl_type_C">Container</label>
							<input type="radio" name="tmpl_type" id="tmpl_type_N" value="N" /> <label for="tmpl_type_N">Node</label>
						</div>
					</div>
					<div class="tr">
						<div class="td">이름</div>
						<div class="td">
							<input type="text" name="tmpl_name" value="" />
						</div>
					</div>
					<div class="tr">
						<div class="td">추가</div>
						<div class="td">
							<input type="button" value="취소" />
							<input type="button" value="추가" />
						</div>
					</div>
					<!-- left menu -->
				</div>
			</div>
			<div class="td" >
			</div>
		</div>
	</div>
</div>
<!-- table -->