<div class="ly-view">
	<select id="view">
		<option>DEFAULT</option>
	</select>
	<input type="button" value="초기화" id="viewReset"/>
	<input type="button" value="저장" id="viewSave"/>
	<input type="button" value="삭제" id="viewDel"/>
	<input type="button" value="재생" id="viewPlay"/>
</div>
<!-- table -->
<div class="table">
	<div class="caption">View 관리(항목 추출 Set를 구성 / 관리 하는 화면.)</div>
	<div class="tbody">
		<div class="tr">
			<div class="td">

				<!-- left menu -->
				<div class="table attInfo">
					<div class="caption">속성 편집</div>
					<div class="thead">
						<div class="tr">
							<div class="th w-pc20">속성</div>
							<div class="th">값</div>
						</div>
					</div>
					<div class="tr">
						<div class="td">UUID</div>
						<div class="td">
							<input type="text" data-id="uuid" readonly="readonly"/>
						</div>
					</div>
					<div class="tr">
						<div class="td">이름</div>
						<div class="td">
							<input type="text" data-id="alias"/>
						</div>
					</div>
					<div class="tr">
						<div class="td">전체경로</div>
						<div class="td">
							<input type="text" data-id="selector-AbsPath"/>
						</div>
					</div>
					<div class="tr">
						<div class="td">상대경로</div>
						<div class="td">
							<input type="text" data-id="selector-RelativePath" readonly="readonly"/>
						</div>
					</div>
					<div class="tr">
						<div class="td">속성타입</div>
						<div class="td">
							<label><input type="radio" name="tab3-attrType" value="attr" />속성</label>
							<label><input type="radio" name="tab3-attrType" value="text" />텍스트</label>
						</div>
					</div>
					<div class="tr">
						<div class="td">속성명</div>
						<div class="td">
							<input type="text" data-id="attrName" />
						</div>
					</div>
					<div class="tr">
						<div class="td">값</div>
						<div class="td scroll val">
							<div data-id="dispVal"></div>
						</div>
					</div>
				</div>
				<!-- left menu -->

			</div>
		</div>
		<div class="tr">
			<div class="td">

				<!-- list menu -->
				<div class="table">
					<div class="caption">항목</div>
					<div class="thead">
						<div class="tr">
							<div class="th w-pc30">목록</div>
						</div>
					</div>
					<div class="tr">
						<div class="td al-center">
							<div class="scroll list">
								<div data-id="list_views">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- left menu -->

			</div>
		</div>
	</div>
</div>
<!-- table -->